<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial, Helvetica, sans-serif;background-color: #f1f4f5;">
    <h1 style="padding: 5px;width: 100%;height: fit-content;color: #333; text-align: center;">Schools+</h1>
          <main style="width: 100%;height: fit-content;color: black;padding: 20px;">
            
            {% autoescape off %}
            
                <h2>Bonjour {{ username }};</h2><br>

                Suite à votre demande de changement de mot de passe,veuillez vous rendre sur la page suivante: <br><br>
                    <a href="{{ protocol }}://{{ url_site }}{% url 'main:newpassword' uid64=uid64 token=token %}">Cliquez ici!</a> <br><br>

                Si vous n'êtes pas à l'origine de cette demande,<br>
                veuillez supprimer immédiatement cet email afin de sécuriser votre compte. <br><br>

                <strong>
                    Schools+ Team®
                </strong>

            {% endautoescape %}
            
          </main>
</body>
</html>