@media screen and (max-width:315px) {
    body{
        display: none;
    }
 }
 /* banner */
 @media screen and (max-width:768px) {
    .banner-logo{
        margin-top: 20px;
        font-size: 1.1rem;
    }
    .banner-logo > img{
        width: 120px;
        height: 120px;
    }
    .fast-option a img{
        width: 20px;
        height: 20px;
    }
 }
 @media screen and (max-width:375px) {
    .banner.cours .banner-description > p:last-of-type{
        display: none;
    }
 }
 /* state */
 @media screen and (max-width:600px) {
    .box-of-state{
        padding: 2%;
    }
    .box-of-state img{
        width: 90px;
        height: 90px;
    }
    .box-of-state h1{
        font-size: 1.2rem;
    }
    .box-of-state h3{
        font-size: 14px;
    }
    .box-of-state a{
        padding: 4px 9px;
    }
 }
 /* state */
@media screen and (max-width:514px) {
    /* menu deroulant */
    header hr{
        display: block;
        background-color: #000;
        width: 180px;
    }
    .logo-in-nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-in-nav-bar img{
        height: 25px;
        width: 25px;
    }
    .logo-in-nav-bar a{
        font-size: 1.4rem;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        padding: 0 10px;
        flex-direction: column;
        position: fixed;
        z-index: 200;
        /* left: 0; */
        inset: 0;
        background-color: #FDFEFE;
        transform: translateX(-500px);
        transition: .5s;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .nav-links.active{
        transform: translateX(0);
    }
    .nav-links a{
        align-self: start;
    }
    .nav-links a div{
        gap: 10px;
    }
    .nav-links a div h3{
        font-size: 1.2rem;
    }
    .nav-links a div img{
        height: 25px;
        width: 25px;
    }
    .media-query-menu{
        padding: 13px 0;
        display: flex;
        width: 35px;
        height: 40px;
        position: relative;
        cursor: pointer;
    }
    .media-query-menu::before{
        content: "";
        width:35px;
        height: 4px;
        border-radius: 30px;
        background-color: rgba(0,0,0,0.8);
    }
    .media-query-menu::after{
        position: absolute;
        content: "";
        width: 25px;
        height: 4px;
        right: 0;
        border-radius: 30px;
        align-self: flex-end;
        background-color: rgba(0,0,0,0.8);
        /* box-shadow: 2px 8px rgba(0,0,0,0.8); */
    }
    .nav-links span{
        position: relative;
        display: flex;
        align-items: center;
        height: 20px;
        width: 20px;
        align-self: flex-end;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 6px;
    }
    .nav-links span::after{
        content: "";
        width: 15px;
        border-radius: 10px;
        height: 3px;
        position: absolute;
        background-color: #000;
        transform: rotate(-45deg);
    }
    .nav-links span::before{
        content: "";
        width: 15px;
        border-radius: 10px;
        height: 3px;
        position: absolute;
        background-color: #000;
        transform: rotate(45deg);
    }
    .footer-nav-bar{
        display: flex;
        padding: 4px;
        flex-direction: column;
        position: absolute;
        bottom: 30px;
        width: inherit;
    }
    .footer-nav-bar hr{
        margin: 5px;
    }
    .footer-nav-bar a:first-of-type{
        font-weight: bold;
        color: #000;
    }
    .footer-nav-bar a:last-of-type{
        background-color: transparent;
        border: none;
        color: #000;
    }
    .footer-nav-bar p{
        font-size: .7rem;
        font-weight: bold;
        align-self: center;
    }
    /* fin menu deroulant */
}

/* index.html */
@media screen and (max-width:650px){
    .main-box,.update-box{
        padding: 2%;
        height: auto;
    }
    .container{
        height: auto;
        width: 400px;
    }
    .container div{
        width: auto;
        height: auto;
        margin: 3px;
    }
    .container img{
        width: 150px;
        height: 150px;
    }
    .container-box{
        align-items: center;
    }
    .container-box:nth-child(2n){
        align-items: center;
    }
    .container:hover,.container.impair:hover{
        transform: none;
    }
}
@media screen and (max-width:425px) {
    .main-box{
        gap: 8px;
    }
    .container img{
        display: none;
    }
    .container{
        width: auto;
        background-color: transparent;
    }
    .banner-logo img{
        width: 100px;
        height: 100px;
    }
    .banner-logo span{
        font-size: 3rem;
    }
    .container div p{
        font-size: 1.2rem;
        padding: 8px;
    }
}
 /* index.html */

 /* formulaire du cours et exo */
 @media screen and (max-width:423px) {
    .add-cour form h1,.add-exo form h1{
        font-size: 1.3rem;
    }
    .add-exo form div input[type='file'],.add-cour form div input[type='file']{
        font-size: 11px;
    }
    .add-exo form div:first-of-type input::file-selector-button,.add-cour form div:first-of-type input::file-selector-button{
        font-size: 15px;
    }
    .add-exo form,.add-cour form{
        padding: 1rem;
    }
    .add-cour form button, .add-exo form button{
        margin: 10px 0;
    }
 }
 @media screen and (max-width:352px){
    .add-exo form div:first-of-type input::file-selector-button,.add-cour form div:first-of-type input::file-selector-button{
        font-size: 10px;
    }    
 }
 @media screen and (max-width:375px) {
    .add-cour form h4,.add-exo form h4{
        font-size: .9rem;
    }
 }
 @media  screen and (max-width:600px) {
    .add-cour form,.add-exo form{
        padding: 10px;
    }
    .add-cour img,.add-exo img{
        width: 80px;
        height: 80px;
    }
    .add-cour,.add-exo{
        flex-direction: column;
        gap: 0;
    }
 }
 @media screen and (max-width:375px) {
    .add-cour img,.add-exo img{
        display: none;
    }
 }
 /* formulaire du cours et exo */

 /* events.html */
 @media screen and (max-width:768px) {
    .event-container{
        width: 300px;
    }
    .main-container.event{
        gap: 15px;
    }
 }
 @media screen and (max-width:375px) {
    .event-page-box > p{
        width: 98%;
    }
 }
 /* events.html */
 /* event_page.htnl */
 @media screen and (max-width:646px) {
    .event-image{
        width: 100%;
        height: 250px;
    }
 }
 /* event_page.htnl */

 /* cours.html et exo.html */
 @media screen and (max-width:841px) {
    .exo-box,.cours-box{
        justify-content: center;
        gap: 50px;
    }
 }
 @media screen and (max-width:425px) {
    .exo-container > div a:first-of-type{
        font-size: 1.2rem;
    }
    .filter-none > svg {
        width: 50px;
        height: 50px;
    }
 }
 /* pdf.html */
 @media screen and (max-width:779px) {
    .main-container.pdf{
        flex-direction: column-reverse;
        align-items: center;
    }
    .en-tete h1{
        font-size: 1.25rem;
    }
    .pdf-main-box{
        margin-top: 20px;
        align-self: flex-start;
    }
 }
 @media screen and (max-width:425px) {
    #pdf-canvas{
        width: 300px;
        height: 400px;
    }
 }
 @media screen and (max-width:375px) {
    .pdf-box > p{
        font-size: .9rem;
    }
 }
 /* pdf.html */

 /* ACCOUNT */
 @media screen and (max-width:675px) {
    .profil-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profil-box > img,.anonyme-avatar{
        width: 200px;
        height: 200px;
    }
    .profil-description{
        width: 90%;
        padding-top: 0;
    }
    .profil-box h1{
        align-self: center;
        font-size: 1.8rem;
        margin-bottom: 20px;
        
    }
    .profil-box h4{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .profil-box h4 span{
        margin-left: 0;
    }
    .link-box{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        padding: 0;
    }
 }
 @media screen and (max-width:982px) {
    .link-box{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    .profil-box > div:last-child{
        padding: 10px;
    }
 }
 @media screen and (max-width:320px) {
    .lien{
        flex-direction: row-reverse;
        justify-content: center;
    }
    .main-box > h1{
        font-size: 40px;
    }
    /* pour les parametre du compte */
    .link-box{
        gap: 3px;
    }
 }
 @media screen and (max-width:375px) {
    .update-box > h2{
        text-align: center;
        margin-top: 20px;
    }
    .update-bio div input,.update-bio select,.update-bio div textarea{
        width: 90%;
    }
    .update-bio article{
        margin-bottom: 15px;
    }
    .main{
        padding: 2%;
    }
    .main-box form input:focus{
        transform: scale(1.02);
    }
    .update-bio div input:focus,.update-bio div textarea:focus,.update-bio select:focus{
        transform: scale(1.02);
    }

 }
 /* ACCOUNT */