{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification de votre mot de passe</title>
    <link rel="stylesheet" href="{% static 'main_style/account_css.css' %}">
    <link rel="stylesheet" href="{% static 'main_style/mediaquery.css' %}">
    
    <!-- Google tag (gtag.js) -->
    <script async scr="https://www.googletagmanager.com/gtag/js?id=G-SZMZ8G52H0"></script>
    <script>
        window.dataLayer= window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js',new Date());
        gtag('config','G-SZMZ8G52H0');
    </script>
    
</head>
<body>
    <section class="main">
        <div class="main-box">
            <img src="{% static 'assets/icone/logo.png' %}" alt="logo">
            <h1>UniWeb</h1>
            <form method="POST">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                {% csrf_token %}
                {{ form }}
                <article>
                    <button type="submit">Sauvegarder</button>
                    <a href="{% url 'main:compte' %}">Annuler</a>
                </article>
            </form>
        </div>
        <img id="hide_password" src="{% static 'assets/icone/icone_hide.png' %}" alt="">
    </section>

<script src="{% static 'main_style/account.js' %}"></script>
</body>
</html>