{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upadate Profile</title>
    <link rel="stylesheet" href="{% static 'main_style/account_css.css' %}">
    <link rel="stylesheet" href="{% static 'main_style/mediaquery.css' %}">
    
    <!-- Google tag (gtag.js) -->
    <script async scr="https://www.googletagmanager.com/gtag/js?id=G-SZMZ8G52H0"></script>
    <script>
        window.dataLayer= window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js',new Date());
        gtag('config','G-SZMZ8G52H0');
    </script>
    
</head>
<body>
    <section class="update-box">
        <h2>Configuration du Profil</h2>
        <form method="post" class="update-bio">
            {% csrf_token %}
            {{ bioform }}
            <article>
                <button type="submit" name="bioform">Sauvegarder</button>
                <a href="{% url 'main:compte' %}">Annuler</a>
            </article>
        </form>    
    </section>
<script src="{% static 'main_style/account.js' %}"></script>
</body>
</html>